#app-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#app-layout .trigger:hover {
  color: #108ee9;
}

#app-layout .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 37px 16px 16px 16px;
  text-align: center;
  line-height: 32px;
  .text {
    font-size: 19px;
    color: #FFF;
    font-weight: bold;
    &.full{
      display: block;
    }
    &.singleCapital{
      display: none;
    }
  }
}

#app-layout .ant-layout-sider-collapsed{
  .anticon {
    font-size: 16px;
  }
  .nav-text {
    display: none;
  }
  .logo .text {
    &.full {
      display: none;
    }
    &.singleCapital {
      display: block;
    }
  }
}